.add-task {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    cursor: pointer;
}


.spinner-icon {
    position: absolute;
    right: 1rem;
    max-width: 5vw;
}

.icon-image {
    width: auto;
    margin: 0;
    padding-left: .4rem;
    font-size: 1.5rem;
}

@media(min-width: 750px){
    .icon-image {
        max-width: 4vw;
    }  
}